/* general */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

/* common custom styles */

.dark-bg {
  background-color: #222f3f;
}

.grey-bg {
  background-color: #364759;
  padding-block: 0.5em;
}

.letter-spacing {
  letter-spacing: -0.5px;
}

/* header */

header div {
  padding-inline: 2em;
}

/* logos */

header .logo {
  height: 35px;
  margin-block: 0.5em;
}

footer .logo {
  height: 50px;
  margin-block: 3em;
}

/* footer */

footer {
  text-align: center;
}

/* headings */
h1,
h2,
h4 {
  text-transform: capitalize;
  color: white;
  text-align: center;
}

h1 {
  font-size: 2.3em;
  font-weight: 700;
  margin-bottom: 1em;
}

h2 {
  background-color: #f56600;
  padding-block: 0.5em;
}

h3 {
  font-size: 1.3em;
  font-weight: 500;
}

h4 {
  font-weight: 700;
  font-size: 1.2em;
}

.main-categories h3 {
  margin-bottom: 1em;
}

.special-categories h3 {
  margin-top: 0.1em;
}

/* navigation & links */

a {
  text-decoration: none;
  color: white;
}

.anchor {
  text-decoration: underline;
  font-weight: 700;
}

.shop-links {
  font-size: 0.75em;
  font-weight: 700;
  color: #0a6570;
  vertical-align: middle;
  margin-left: 0.8em;
}

.main-nav li {
  display: inline-block;
  padding-right: 0.5em;
}

/* main */

main {
  background-color: #e9edee;
  padding: 2em;
}

main > div {
  margin-bottom: 2em;
}

.last-container {
  margin-bottom: 0;
}

.banner {
  padding-block: 5em 3em;
  background-image: url(../images/bg-image.png);
  background-repeat: repeat;
  background-size: 93%;
}

.main-categories {
  padding-block: 1.5em;
  background-color: white;
}

.main-categories h3 {
  padding-left: 1.5em;
}

.main-categories div {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
  width: 25%;
  padding-inline: 2em;
}

.cards {
  width: 100%;
  height: 370px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 1.5px 0.5px 3px #00000040;
}

.special-categories {
  text-align: center;
}

.special-categories img {
  width: 100%;
  max-height: 440px;
  object-fit: cover;
}
